<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Conway's Game of Life</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles\main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>

    <script id="grid-creator" type="x-text/handlebars-template">
    <div class="row">
        <div class="col-md-12">

            <div class="game-container" name="{{index}}">

            <div class="row">
                <div class="col-md-12">
                   <div class="table" name="table">
                    {{{row}}}
                   </div>
                </div>
             </div>

             <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-light" id="step">Next Generation</button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <button disabled class="btn btn-lg btn-light w-100" id="start">Start</button>
                </div>

                <div class="col-sm-4 col-md-4">
                    <button disabled class="btn btn-lg btn-light w-100" id="stop">Stop</button>
                </div>

                <div class="col-sm-4 col-md-4">
                    <button disabled class="btn btn-lg btn-light w-100" id="clear">Clear</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-light" id="delete">Delete Grid</button>
                </div>
            </div>

        </div>

    </div>
    </div><br>
    </script>

    <script id="new-generation" type="x-text/handlebars-template">
    <table>
        <tbody>
        {{#each row}}
           <tr>
           {{#each cols}}
               {{#if this}}
               <td class="life"></td>
               {{else}}
               <td class="death"></td>
               {{/if}}
               {{/each}}
            </tr>
        {{/each}}
        </tbody>
    </table>
    </script>

    <script src="GOL\gol.js"></script>
    <script src="UI\ui.js"></script>
    <script src="TOOLS\helpers.js"></script>
    <script src="main.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <header id="title">Conway's Game of Life</header><br>
                <header>Play the game!</header><br>

                <div id="inputs-container">

                    <div class="row">
                        <!-- <label for="rows">rows</label> -->
                        <div class="col-md-6">
                            <input id="rows" type="number" min="1" required placeholder="Rows">
                        </div>
                        <!-- <label for="cols">cols</label> -->
                        <div class="col-md-6">
                            <input id="cols" type="number" min="1" required placeholder="Cols">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-light" id="createGrid">Build the Neighbourhood!</button>
                        </div>
                    </div><br>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div id="grid-container"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>