.life {
    background-color: black;
}

.death {
    background-color: rgb(145, 145, 145);
}

body * {
    margin: 0 auto;
    text-align: center;
}

td {
    border: 1px solid white;
}
td:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#createGrid,
input,
button,
#grid-container,
table {
    width: 100%;
}

#grid-container {
    margin: 0 auto;
    display: grid;
}